<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>
<div class="layui-container" style="width: 960px;height: 600px;margin-top: 0px;padding-top: 60px;">

    <div style="margin-left: 460px; width: 300px;">
        <a href="/account/redirect/index">首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;欢迎回来！<a href="/account/redirect/order" th:text="${session.user.nickname}"></a><a href="/account/logout">&nbsp;&nbsp;&nbsp;<button class="layui-btn layui-btn-warm layui-btn-radius">退出</button></a>
    </div>

    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script>
        layui.use('table', function(){
            var table = layui.table;

            table.render({
                elem: '#test'
                ,url:'/order/findAllByUid'
                ,title: '订单列表'
                ,cols: [
                    [
                        {field:'id', width:100, title: '编号', sort: true}
                        , {
                        field: 'name', width: 200, title: '菜品', templet: function (data) {
                                return data.menu.name
                            }
                        }
                        , {
                        field: 'price', width: 100, title: '单价', templet: function (data) {
                                return data.menu.price
                            }
                        }
                        ,{field:'flavor', width:100, title: '口味',templet:function(data){
                                return data.menu.flavor
                            }
                        }
                        ,{field:'date',width:300,  title: '下单时间'}
                        ,{field:'state', width:160, title: '订单状态',templet:function(data){
                                var result = "";
                                switch (data.state) {
                                    case 0:
                                        result = "未派送";
                                        break;
                                    case 1:
                                        result = "已派送";
                                        break;
                                }
                                return result
                            }
                        }
                    ]
                ]
                ,page: true
            });

            //监听行工具事件
            table.on('tool(test)', function(obj){
                var data = obj.data;
                if(obj.event === 'order'){
                    window.location.href="/order/save/"+data.id;
                }
            });
        });
    </script>

</div>
<script>
    //二级菜单联动
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>